@import "../../foundation/mixin";
@import "../../foundation/variable";

.p-contact {
  background-image: url(https://github.com/Inaba-Shintaro/Myportfolio/blob/master/img/mainportfolio/img-protfolio-bg.JPG?raw=true) !important;
  background-size: cover;
  background-attachment: fixed;

  .p-contactInner {
    background-color: $colorBlack;

    &__sectionTtl {
      @include mq("tab") {
        margin-bottom: 30px;
      }
    }
  }
}
